@tailwind base;
@tailwind components;
@tailwind utilities;

.appear {
    animation: appear 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.appear-without-translate {
    animation: appear-without-translate 2s;
}

@keyframes appear-without-translate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}